﻿@model Puzzle.Models.PuzzleOneRequest
@{
    ViewBag.Title = "Puzzle One";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Largest Integer</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Find the largest integer in an array of integers, supplied as a string.<br /><br />
                For example:<br />
                “1,3,2,5,7,2” should return 7.<br />
                “1,4,2,8,22,7,192,4,22,6,33,6,8” should return 192.<br />
            </p>
        </div>
    </section>
}
@*<h3>We suggest the following:</h3>*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(m => m.Sequence)
                @Html.TextBoxFor(m => m.Sequence)
                @Html.ValidationMessageFor(m => m.Sequence)
            </li>
            @if (Model != null && Model.LargestNumber >= 0)
            {
                <li>
                    @Html.LabelFor(m => m.LargestNumber)
                    @Html.DisplayFor(m => m.LargestNumber)
                </li>
            }
        </ol>

        <input type="submit" value="Calculate" />
    </fieldset>
}
