﻿@{
    ViewBag.Title = "Welcome! ";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Hope you enjoy your visit!
            </p>
        </div>
    </section>
}
<h3>Please select from the following pages:</h3>
<ol class="round">
    <li class="one">
        <h5>@Html.ActionLink("Largest Integer", "Index", "LargestInteger")</h5>
        <br />
    </li>

    <li class="two">
        <h5>@Html.ActionLink("Palindrome", "Index", "Palindrome")</h5>
        <br />
    </li>

    <li class="three">
        <h5>@Html.ActionLink("Shape Sketcher", "Index", "ShapeSketcher")</h5>
        <br />
    </li>
</ol>
