﻿@model Puzzle.Models.ShapeSketcherRequest
@{
    ViewBag.Title = "Puzzle Three";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Shape Sketcher</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Please select the Shape you want to Draw. <br />
            </p>
        </div>
    </section>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>

        @foreach (var item in @Model.MenuItemList)
        {
            <ul>
                <li>
                        <h3>@item.Text</h3>

                        @foreach (var subItem in @item.MenuItemList)
                        {
                             <ul>
                                <li>
                                    <a href="@Url.Action("Select", "ShapeSketcher", new { shapeType = @subItem.Value })">@subItem.Text</a>
                                </li>
                            </ul>
                        }
                </li>
            </ul>
        }

        <br />
    </fieldset>

}
