﻿@model Puzzle.Models.ShapeSketcherRequest
@{
    ViewBag.Title = "Puzzle Three";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Shape Sketcher</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Enter the details to draw the Shape. <br />
            </p>
        </div>
    </section>
    <style>
        input[type="submit"], input[type="button"], button {
            background-color: #d3dce0;
            width: 100px;
            font-size: 0.9em;
        }

        canvas{
            background: #ffffff;
            width: 1024px; 
            height: 568px;
            border-color: #000000;
        }

    </style>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <br />

        @*This is where we request the details for the drawing*@
        @if (Model.ShapeType == 1)
        {
            <div id="isotriangleSpec" style="width: 100%;">
                Please enter the width and height:<br />
                width:  <input type="text" id="isoWidth" maxlength="2" size="4" />
                height: <input type="text" id="isoHeight" maxlengthquadwidth2" size="4" />
                <input type="button" onclick="drawTriangle($('#isoWidth').val(), $('#isoHeight').val())" class="button" value="Draw Isosceles" />
            </div>
        }

        @if (Model.ShapeType == 3)
        {
            <div id="equitriangleSpec" style="width: 100%;">
                Please enter the size of the side:<br />
                width:  <input type="text" id="equiSize" maxlength="2" size="4" />
                <input type="button" onclick="drawEquiTriangle($('#equiSize').val())" class="button" value="Draw Equilateral" />
            </div>
        }

        @if (Model.ShapeType == 7)
        {
            <div id="quadrilateralSpec" style="width: 100%;">
                Please enter the width and height:<br />
                width:  <input type="text" id="quadWidth" maxlength="2" size="4" />
                height: <input type="text" id="quadHeight" maxlengthquadWidth2" size="4" />
                <input type="button" onclick="drawRectangle($('#quadWidth').val(), $('#quadHeight').val())" class="button" value="Draw Rectangle" />
            </div>
        }

        @if (Model.ShapeType == 8)
        {
            <div id="quadrilateralSpec" style="width: 100%;">
                Please enter the side size:
                width:  <input type="text" id="squareWidth" maxlength="2" size="4" />
                <input type="button" onclick="drawRectangle($('#squareWidth').val(), $('#squareWidth').val())" class="button" value="Draw Square" />
            </div>
        }

        @if (Model.ShapeType == 9)
        {
            <div id="quadrilateralSpec" style="width: 100%;">
                Please enter the width and height:<br />
                width:  <input type="text" id="paraWidth" maxlength="2" size="4" />
                height: <input type="text" id="paraHeight" maxlengthquadwidth2" size="4" />
                <input type="button" onclick="drawParallelogram($('#paraWidth').val(), $('#paraHeight').val())" class="button" value="Draw Parallelogram" />
            </div>
        }

        @if (Model.ShapeType > 9 && Model.ShapeType <= 13)
        {
            <div id="polygonSpec">
                Please enter the number of sides: 
                <input type="text" id="numberOfSides" maxlength="2" size="4" />
                <input type="button" onclick="drawPolygon($('#numberOfSides').val())" class="button" value="Draw Polygon" />
            </div>
        }
        @if (Model.ShapeType == 14)
        {
            <div id="curveSpec">
                Please enter the Radius: 
                <input type="text" id="circleRadius" maxlength="2" size="4" />
                <input type="button" onclick="drawCircle($('#circleRadius').val())" class="button" value="Draw Circle" />
            </div>
        }
        @if (Model.ShapeType == 15)
        {
            <div id="ovalSpec">
                Please enter the Radius: 
                <input type="text" id="ovalRadius" maxlength="2" size="4" />
                <input type="button" onclick="drawOval($('#ovalRadius').val())" class="button" value="Draw Oval" />
            </div>
        }

        @*This is where we draw the shape*@
        <canvas id="canvas">

        </canvas>

        <input type="button" onclick="drawOval($('#ovalRadius').val())" class="button" value="Draw Oval" />

    </fieldset>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">

        function drawTriangle(isoWidth, isoHeight)
        {
            var context = getContext();
            cleanCanvas(context);

            // Draw triangle
            context.beginPath();
            // Draw a triangle location for each corner from x:y 100,110 -> 200,10 -> 300,110 (it will return to first point)
            context.moveTo(100, 110);
            context.lineTo(200, 10);
            context.lineTo(300, 110);
            context.closePath();
        }

        function drawEquiTriangle(equiSize) {
            var context = getContext();
            cleanCanvas(context);

            var cx = 25;
            var cy = 25;

            var h = equiSize * (Math.sqrt(3) / 2);
            context.translate(cx, cy);
            context.beginPath();
            context.moveTo(0, -h / 2);
            context.lineTo(-equiSize / 2, h / 2);
            context.lineTo(equiSize / 2, h / 2);
            context.lineTo(0, -h / 2);
            context.stroke();
            context.closePath();
        }

        function drawRectangle(width, height) {
            var context = getContext();

            cleanCanvas(context);

            context.beginPath();

            var Xcenter = 10;
            var Ycenter = 10;
            context.rect(Xcenter, Ycenter, width, height);

            context.lineWidth = 2;
            context.strokeStyle = 'black';
            context.stroke();
        }

        function drawParallelogram(width, height) {
            var context = getContext();
            var canvas = document.getElementById('canvas');

            cleanCanvas(context);

            context.beginPath();

            var Xcenter = canvas.width / 2;
            var Ycenter = canvas.height / 2;
            context.moveTo(Xcenter, Ycenter);
            context.beginPath();
            context.moveTo(Xcenter + width * 0.3, Ycenter);
            context.lineTo(Xcenter, Ycenter + height);
            context.lineTo(Xcenter + width * 0.7, Ycenter + height);
            context.lineTo(Xcenter + width, Ycenter);
            context.lineTo(Xcenter + width * 0.3, Ycenter);
            context.closePath();

            context.lineWidth = 2;
            context.strokeStyle = 'black';
            context.stroke();
        }

        function drawPolygon(numberOfSides) {

            var context = getContext();
            var canvas = document.getElementById('canvas');
            cleanCanvas(context);

            var Xcenter = canvas.width / 2;
            var Ycenter = canvas.height / 2;
            var size = 30;

            context.beginPath();
            context.moveTo(Xcenter + size * Math.cos(0), Ycenter + size * Math.sin(0));

            for (var i = 1; i <= numberOfSides; i += 1) {
                context.lineTo(Xcenter + size * Math.cos(i * 2 * Math.PI / numberOfSides), Ycenter + size * Math.sin(i * 2 * Math.PI / numberOfSides));
            }

            context.strokeStyle = "#000000";
            context.lineWidth = 2;
            context.stroke();
        }

        function drawCircle(radius) {
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');
            var centerX = canvas.width / 2;
            var centerY = canvas.height / 2;
            
            cleanCanvas(context);

            context.beginPath();
            context.arc(centerX, centerY, radius, 0, 2 * Math.PI);
            context.stroke();
        }
        
        function drawOval(radius) {
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');
            var centerX = 0;
            var centerY = 0;

            cleanCanvas(context);

            // save state
            context.save();

            // translate context
            context.translate(canvas.width / 2, canvas.height / 2);

            // scale context horizontally
            context.scale(2, 1);

            // draw circle which will be stretched into an oval
            context.beginPath();
            context.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);

            // restore to original state
            context.restore();

            // apply styling
            context.lineWidth = 2;
            context.strokeStyle = 'black';
            context.stroke();
        }

        function cleanCanvas(context) {
            var canvas = document.getElementById('canvas');
            context.clearRect(0, 0, canvas.width, canvas.height);
        }

        function getContext() {
            var canvas = document.getElementById('canvas');
            return canvas.getContext('2d');
        }

    </script>
}

}
