﻿@model Puzzle.Models.PalindromeRequest
@{
    ViewBag.Title = "Puzzle Two";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Palindrome</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Check if a given sentence is a palindrome. <br />
                A palindrome is a word, phrase, verse, or sentence that reads the same backward or forward. <br />
                Only the order of English alphabet letters (A-Z and a-z) should be considered; other characters should be
                ignored.<br /><br />
                For example:<br />
                "Never odd or even!" should return true as spaces, exclamations, and case should be ignored
                resulting with "neveroddoreven" which is a palindrome since it reads same backward and forward.<br /><br />
                For a full list of funny palindrome words, check <a href="http://www.palindromelist.net/">palindromelist.net</a><br /><br />
            </p>
        </div>
    </section>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(m => m.Sentence)
                @Html.TextBoxFor(m => m.Sentence)
                @Html.ValidationMessageFor(m => m.Sentence)
            </li>
            @if (Model != null)
            {
                if (Model.isPalindrome)
                {
                    <li style="color: green;">
                        "@Model.Sentence" is Palindrome.
                    </li>
                }
                else
                {
                    <li style="color: red;">
                        "@Model.Sentence" is NOT Palindrome.
                    </li>
                }
            }
        </ol>

        <input type="submit" value="Check" />
    </fieldset>
}
